<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 使用注解扫描 -->
    <context:component-scan base-package="com.hotel.service"/>

    <!-- Spring自带的数据库事务管理 -->
<!--    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">-->
<!--        <property name="dataSource" ref="dataSource"/>-->
<!--    </bean>-->

<!--    &lt;!&ndash; 配置事务通知 advice &ndash;&gt;-->
<!--    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">-->
<!--        &lt;!&ndash; 可以给不同 单词开头的方法 分别配置事务 &ndash;&gt;-->
<!--        <tx:attributes>-->
<!--            &lt;!&ndash; propagation：传播 REQUIRED 是默认参数 一般可以不写&ndash;&gt;-->
<!--            &lt;!&ndash; * 就是所有的方法&ndash;&gt;-->
<!--            <tx:method name="*" propagation="REQUIRED"/>-->
<!--        </tx:attributes>-->
<!--    </tx:advice>-->

<!--    &lt;!&ndash; 设置aop相关&ndash;&gt;-->
<!--    <aop:config>-->
<!--        &lt;!&ndash; 设置切点：mapper文件夹中的所有方法 &ndash;&gt;-->
<!--        <aop:pointcut id="transactionPointcut" expression="execution(* com.hh.dao.*.* (..))"/>-->
<!--        &lt;!&ndash; 设置通知：此时不需要考虑切面 Spring内部有一套设置 &ndash;&gt;-->
<!--        <aop:advisor advice-ref="transactionAdvice" pointcut-ref="transactionPointcut"/>-->
<!--    </aop:config>-->
</beans>
